<!--
  Generated template for the Ratingss page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ratings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="ratings && ratings.length == 0">
    <ion-card-title class="center">
      No Ratings Available
    </ion-card-title>

    <ion-card-content>
      <p>
        Sorry there are no Ratings at this time. Please check back later.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <button ion-item *ngFor="let rating of ratings" (click)=getRatingDetails(rating)>
      
      <ion-thumbnail item-left>
        <img [src]="rating.user.image">
      </ion-thumbnail> 
      
      <p>
        Hospital: {{rating.hospital.name}}
      </p>
      <p>
        {{rating.user.role}}: {{rating.user.first_name}} {{rating.user.last_name}}
      </p>
      
      <rating [(ngModel)]="rating.stars" readOnly="false"></rating>
       
      <p>
        {{rating.comments}}
      </p>
      
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>