<!--
  Generated template for the StaffingResponsess page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <ion-title>Slots</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngIf="verification_pending">
    <ion-card-title class="center error-text">
      Verification Pending
    </ion-card-title>

    <ion-card-content>
      <p>
        Please upload your documents for verification. Post verification you will be assigned shifts
        at various Care Homes.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!verification_pending && staffingResponses && staffingResponses.length == 0">
    <ion-card-title class="center">
      No Slots Booked
    </ion-card-title>

    <ion-card-content>
      <p>
        Sorry there is no slot that has been assigned at this time. Please check back later. We will notify you when a slot is booked.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <button ion-item id="slot-{{staffingResponse.id}}-item" *ngFor="let staffingResponse of staffingResponses" (click)=getStaffingResponseDetails(staffingResponse)>

      <ion-thumbnail item-left>
        <img [src]="staffingResponse.user.image">
      </ion-thumbnail> 
      
      <p>
        Care Home: {{staffingResponse.care_home.name}}
      </p>
      <p>
        Start: {{staffingResponse.staffing_request.start_date | date: 'dd/MM/yyyy H:mm'}}
      </p>
      <p>
        End: {{staffingResponse.staffing_request.end_date | date: 'dd/MM/yyyy H:mm'}}
      </p>
      
      <p>
        {{staffingResponse.user.role}}: {{staffingResponse.user.first_name}}, {{staffingResponse.user.last_name}}
      </p>

      <rating [(ngModel)]="staffingResponse.user.rating" readOnly="true"></rating>
      <p>
        Phone: {{staffingResponse.user.phone}}
      </p>
      <p>
        Email: {{staffingResponse.user.email}}
      </p>
       <p> 
        {{staffingResponse.user.occupation}}
      </p>
      <p>
        {{staffingResponse.user.speciality}}
      </p>

      <p>
        <ion-badge
          *ngIf="staffingResponse.response_status" 
          item-right [color]="staffingResponse.response_status == 'Accepted' ? 'secondary' : 'danger'">
          {{staffingResponse.response_status}}
        </ion-badge> 
        <ion-badge
          *ngIf="staffingResponse.payment_status" 
          item-right [color]="staffingResponse.payment_status == 'Paid' ? 'secondary' : 'danger'">
          {{staffingResponse.payment_status}}
        </ion-badge> 
      </p>
    </button>
  </ion-list>

</ion-content>