<ion-header>

  <ion-navbar color="primary">
    <ion-title>Slot Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-fab bottom right>
    <button ion-fab (click)="presentActionSheet(staffingResponse)"><ion-icon name="apps"></ion-icon></button>
  </ion-fab>


  <ion-list>
    <img [src]="staffingResponse.user.image" style="max-height:300px;">
    <ion-item>
      <ion-row>
        <ion-col>
          {{staffingResponse.user.role}}:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.first_name}}, {{staffingResponse.user.last_name}}
          <rating [(ngModel)]="staffingResponse.user.rating" readOnly="true"></rating>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Phone:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.phone}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Start:
        </ion-col>
        <ion-col>
          {{staffingResponse.staffing_request.start_date | date: 'dd/MM/yyyy H:mm'}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          End:
        </ion-col>
        <ion-col>
          {{staffingResponse.staffing_request.end_date | date: 'dd/MM/yyyy H:mm'}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Email:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.email}}
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col>
          Speciality:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.speciality}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Response Status:
        </ion-col>
        <ion-col>
          {{staffingResponse.response_status}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Payment Status:
        </ion-col>
        <ion-col>
          {{staffingResponse.payment_status}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.start_code">
      <ion-row>
        <ion-col>
          Start Code:
        </ion-col>
        <ion-col>
          {{staffingResponse.start_code}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.start_code">
      <ion-row>
        <ion-col>
          Start Time:
        </ion-col>
        <ion-col>
          {{staffingResponse.start_date | date: 'dd/MM/yyyy H:mm'}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.end_code">
      <ion-row>
        <ion-col>
          End Code:
        </ion-col>
        <ion-col>
          {{staffingResponse.end_code}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.end_code">
      <ion-row>
        <ion-col>
          End Time:
        </ion-col>
        <ion-col>
          {{staffingResponse.end_date | date: 'dd/MM/yyyy H:mm'}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.end_code">
      <ion-row>
        <ion-col>
          Worked:
        </ion-col>
        <ion-col>
          {{ (staffingResponse.minutes_worked / 60) | number:'.0-0' }} hrs {{(staffingResponse.minutes_worked % 60)*60}} mins
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="staffingResponse.end_code">
      <ion-row>
        <ion-col>
          Amount:
        </ion-col>
        <ion-col>
          {{staffingResponse.price | currency}}
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>


</ion-content>