<ion-header>

  <ion-navbar color="primary">
    <ion-title>Response Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab bottom right>
    <button ion-fab (click)="presentActionSheet(staffingResponse)"><ion-icon name="apps"></ion-icon></button>
  </ion-fab>


  <ion-list>

    <ion-item>
      <ion-row>
        <ion-col>
          Name:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.first_name}}, {{staffingResponse.user.last_name}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Phone:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.phone}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Email:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.email}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Occupation:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.occupation}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Speciality:
        </ion-col>
        <ion-col>
          {{staffingResponse.user.speciality}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Response Status:
        </ion-col>
        <ion-col>
          {{staffingResponse.response_status}}
        </ion-col>
      </ion-row>
    </ion-item>


  </ion-list>

  <ion-row *ngIf="staffingResponse.can_manage == true">

    <ion-col>
      <button ion-button full color="secondary" (click)="editStaffingResponse(staffingResponse)">Edit</button>
    </ion-col>
    <ion-col>
      <button ion-button full color="danger" (click)="confirmDelete(staffingResponse)">Delete</button>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="staffingResponse.can_manage == false">

    <ion-col>
      <button ion-button full color="secondary" (click)="acceptResponse(staffingResponse)">Accept</button>
    </ion-col>
    <ion-col>
      <button ion-button full color="danger" (click)="rejectResponse(staffingResponse)">Reject</button>
    </ion-col>

  </ion-row>

  <ion-row *ngIf="staffingResponse.can_manage == true">

    <ion-col>
      <button ion-button full color="primary" (click)="showRequest(staffingResponse)">Show Request`</button>
    </ion-col>
    
  </ion-row>


</ion-content>