<!--
  Generated template for the CareHomess page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Care Homes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel" (ionInput)="onSearch($event)" (ionCancel)="onCancel($event)"
    animated=true debounce=500>
  </ion-searchbar>

  <ion-fab bottom right *ngIf="current_user.role=='Admin' && !current_user.care_home_id">
    <button id="new_care_home_button" ion-fab (click)="newCareHome()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <button ion-item *ngFor="let care_home of care_homes" (click)=getCareHomeDetails(care_home)>
      <ion-thumbnail item-left>
        <img [src]="care_home.image_url">
      </ion-thumbnail> 
      <p>
        {{care_home.name}}
      </p>
       
      <p>
        {{care_home.address}}
      </p>
       
      <p>
        {{care_home.town}}
      </p>
       
      <p>
        {{care_home.postcode}}
      </p>
      
      
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>