<!--
  Generated template for the CareHomesForm pemail.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pemails and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Partner</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input name="name" formControlName="name" type="text" [(ngModel)]="care_home.name" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.name.valid  && (slideOneForm.controls.name.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid name.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input name="phone" formControlName="phone" type="number" [(ngModel)]="care_home.phone" [class.invalid]="!slideOneForm.controls.phone.valid && (slideOneForm.controls.phone.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.phone.valid  && (slideOneForm.controls.phone.dirty || submitAttempt)">
        <p class="error-text">Enter a valid 11 digit number starting with 0.</p>
      </ion-item>


      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input name="address" formControlName="address" type="text" [(ngModel)]="care_home.address" [class.invalid]="!slideOneForm.controls.address.valid && (slideOneForm.controls.address.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.address.valid  && (slideOneForm.controls.address.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid address.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Postcode</ion-label>
        <ion-input name="postcode" formControlName="postcode" type="text" [(ngModel)]="care_home.postcode" [class.invalid]="!slideOneForm.controls.postcode.valid && (slideOneForm.controls.postcode.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.postcode.valid  && (slideOneForm.controls.postcode.dirty || submitAttempt)">
        <p class="error-text">Invalid postcode, please enter a valid one.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Break for Carers in Minutes</ion-label>
        <ion-input name="carer_break_mins" formControlName="carer_break_mins" type="text" [(ngModel)]="care_home.carer_break_mins" 
        [class.invalid]="!slideOneForm.controls.carer_break_mins.valid && (slideOneForm.controls.carer_break_mins.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.carer_break_mins.valid  && (slideOneForm.controls.carer_break_mins.dirty || submitAttempt)">
        <p class="error-text">Please enter valid break time in mins for carers.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Image URL</ion-label>
        <ion-input name="image_url" formControlName="image_url" type="text" [(ngModel)]="care_home.image_url" [class.invalid]="!slideOneForm.controls.image_url.valid && (slideOneForm.controls.image_url.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.image_url.valid  && (slideOneForm.controls.image_url.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid image_url.</p>
      </ion-item>

    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="save()">Save</button>

</ion-content>