<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register as a Partner </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-searchbar name="searchBox" [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearch($event)" (ionCancel)="onCancel($event)" [debounce]=1000>
  </ion-searchbar>


  <ion-list>
<!-- 
    <ion-item-divider *ngIf="care_homes">
      <ion-label>
        Existing Partner
      </ion-label>
    </ion-item-divider> -->

    <button ion-item *ngFor="let care_home of care_homes" (click)=exsitingCareHome(care_home)>
      <p>
        {{care_home.name}}
      </p>

      <p>
        {{care_home.address}}
      </p>

      <p>
        {{care_home.phone}}
      </p>

      <p>
        {{care_home.postcode}}
      </p>
    </button>

    <!-- <ion-item-divider *ngIf="cqc_records">
      <ion-label>
        CQC Details
      </ion-label>
    </ion-item-divider> -->

    <button ion-item *ngFor="let cqc of cqc_records" (click)=newCareHome(cqc)>
      <p>
        {{cqc.name}}
      </p>

      <p>
        {{cqc.address}}
      </p>

      <p>
        {{cqc.phone}}
      </p>

      <p>
        {{cqc.postcode}}
      </p>
    </button>

    <button *ngIf="searchTerm" ion-button full color="primary" (click)="newCareHome(null)">
      Register New Partner.
    </button>

  </ion-list>

  <ion-card>
    <ion-card-content>
      Search for your care home, if you find it you can click and claim it. If not you can create a new entry for it.
    </ion-card-content>
  </ion-card>


</ion-content>