<ion-header>

  <ion-navbar>
    <ion-title>Register Care Home </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="shouldShowCancel" (ionInput)="onSearch($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>


  <ion-list>
    <button ion-item *ngFor="let cqc of cqc_records" (click)=newCareHome(cqc)>
      <p>
        {{cqc.name}}
      </p>
       
      <p>
        {{cqc.address}}
      </p>
       
      <p>
        {{cqc.phone}}
      </p>
       
      <p>
        {{cqc.postcode}}
      </p>
      
      
    </button>

    <button *ngIf="searchTerm" ion-button full color="primary" (click)="newCareHome(null)">
        Register New Care Home.
    </button>

  </ion-list>

  <ion-card>
    <ion-card-content>
      Search for your care home, if you find it you can click and claim it. If not you can create a new entry for it.
    </ion-card-content>
  </ion-card>


</ion-content>