<!--
  Generated template for the CareHomesDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Partner Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-row>
        <ion-col>
          Name:
        </ion-col>
        <ion-col text-wrap>
          {{care_home.name}}
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col>
          Phone:
        </ion-col>
        <ion-col>
          <a icon-right href="tel:{{care_home.phone}}">
            {{care_home.phone}}
            <ion-icon right name='call'></ion-icon>
          </a> 
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Address:
        </ion-col>
        <ion-col text-wrap>
          {{care_home.address}}
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item>
      <ion-row>
        <ion-col>
          Postcode:
        </ion-col>
        <ion-col>
          {{care_home.postcode}}
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row>
        <ion-col>
          Break Time for Carers:
        </ion-col>
        <ion-col>
          {{care_home.carer_break_mins}} mins
        </ion-col>
      </ion-row>
    </ion-item>

    

    <ion-item>
      <ion-row>
        <ion-col>
          Status:
        </ion-col>
        <ion-col>
          <ion-badge *ngIf="care_home.verified != true" item-right color="danger">
            Not Verified
          </ion-badge>
          <ion-badge *ngIf="care_home.verified == true" item-right color="secondary">
            Verified
          </ion-badge>
        </ion-col>
      </ion-row>
    </ion-item>
    
  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button full color="secondary" (click)="editCareHome(care_home)">Edit</button>
    </ion-col>
  </ion-row>


</ion-content>