          <div *ngIf="currentUser && currentUser.role == 'Admin'">

            <div *ngIf="currentUser.care_home_id == null || currentUser.care_home.verified != true">
              
              <button ion-item *ngIf="currentUser.care_home_id == null" (click)="register_care_home()">
                <ion-icon name="home" item-left color="primary"></ion-icon>
                Register Care Home 
                <p>
                  Register your care home now.
                </p>
              </button>


              <button ion-item (click)="phone_verification()" >
                <ion-icon [name]="currentUser.phone_verified != true ? 'call' : 'checkbox'" item-left item-left color="primary"></ion-icon>
                Verify Mobile Number
                <p>
                  Verify your mobile number now.
                </p>
              </button>

              <button ion-item (click)="add_care_home_banking_details()">
                <ion-icon [name]="currentUser.care_home_id != null && currentUser.care_home.bank_account == null ? 'cash' : 'checkbox'" item-left item-left color="primary"></ion-icon>
                Banking Information
                <p>
                  Add your banking details.
                </p>
              </button>

            </div>

            <div *ngIf="currentUser.care_home_id != null && currentUser.care_home.verified == true">
              <button ion-item (click)="new_staffing_request()">
                <ion-icon name="add-circle" item-left color="primary"></ion-icon>
                New Staffing Requests
                <p>
                  Create a request for temp staff.
                </p>
              </button>

              <button ion-item (click)="show_staffing_requests()">
                <ion-icon name="construct" item-left color="primary"></ion-icon>
                Staffing Requests
                <p>
                  Staffing Request you have placed.
                </p>
              </button>

              <button ion-item (click)="show_shifts('Accepted')">
                <ion-icon name="list" item-left item-left color="primary"></ion-icon>
                Confirmed Shifts
                <p>
                  Shifts for your Care Home.
                </p>
              </button>
            </div>

            <div text-wrap *ngIf="currentUser.phone_verified == true && currentUser.care_home_id != null &&  currentUser.care_home.bank_account != null && currentUser.care_home.verified != true">
              <button ion-item (click)="contact()">
                <ion-icon name="warning" item-left item-left color="danger"></ion-icon>
                Pending Verification
                <p>
                  Verification is pending from our side. Please be patient.
                </p>
              </button>
            </div>

          </div>