<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Care Connect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!currentUser">
    <img src="assets/splash.jpg" />
    <ion-card-content>
      <ion-card-title class="center">
        Please Login or Register
      </ion-card-title>
      <p>
        The most popular way to hire temporary Care Givers & Nurses across the UK
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="login()">
          <ion-icon name='key'></ion-icon>
          Login
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="secondary" icon-left (click)="register()">
          <ion-icon name='create'></ion-icon>
          Register
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left (click)="contact()">
          <ion-icon name='call'></ion-icon>
          Contact
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <div class="home-page">
    <ion-card *ngIf="currentUser">
      <img src="assets/splash.jpg" />
      <div class="card-title">Welcome</div>
      <div class="card-subtitle">{{currentUser.first_name}} {{currentUser.last_name}}</div>
    </ion-card>

    <ion-card *ngIf="currentUser">


      <ion-card-content>

        <ion-list>

          <div *ngIf="currentUser.role == 'Admin'">
            <button ion-item *ngIf="registerCareHome" (click)="register_care_home()">
              <ion-icon name="home" item-left color="primary"></ion-icon>
              Register Care Home 
              <p>
                Register your care home now.
              </p>
            </button>

            <button ion-item (click)="show_staffing_requests()">
              <ion-icon name="construct" item-left color="primary"></ion-icon>
              Staffing Requests
              <p>
                Request temp staff.
              </p>
            </button>

            <button ion-item (click)="show_shifts('Accepted')">
              <ion-icon name="list" item-left item-left color="primary"></ion-icon>
              Upcoming Shifts
              <p>
                Shifts for your Care Home.
              </p>
            </button>


          </div>

          <div *ngIf="currentUser.role == 'Care Giver' || currentUser.role == 'Nurse'">

            <div *ngIf="currentUser.verified == false">
              <button ion-item *ngFor="let doc of currentUser.user_docs" (click)="viewDoc(doc)">
        
                <ion-icon name="document" item-left [color]="doc.verified == true ? 'secondary' : 'danger'"></ion-icon>
                {{doc.doc_type}}
                <p>
                  Uploaded: {{doc.created_at | date : 'dd/MM/yyyy' }}
                </p>

                <ion-badge [color]='getDocColorAndText(doc)[0]'>
                  {{getDocColorAndText(doc)[1]}}
                </ion-badge>
                
              </button>


              <button ion-item *ngFor="let doc of pendingDocs(currentUser)" (click)="uploadNow(doc)">
                <ion-icon name="cloud-upload" item-left color="primary"></ion-icon>
                {{doc.doc_type}}
                <p>
                  Upload document now.
                </p>   
              </button>

              <button ion-item (click)="show_profile()">
                <ion-icon name="call" item-left item-left color="primary"></ion-icon>
                Verify Mobile Number
                <p>
                  Verify your mobile number now.
                </p>
              </button>
            </div>

            <div *ngIf="currentUser.verified == true">
              <button ion-item (click)="show_shifts('Accepted')">
                <ion-icon name="list" item-left item-left color="primary"></ion-icon>
                Upcoming Shifts
                <p>
                  Shifts confirmed by you.
                </p>
              </button>

              <button ion-item (click)="show_shifts('Pending')">
                <ion-icon name="warning" item-left item-left color="primary"></ion-icon>
                Pending Shifts
                <p>
                  Shifts pending your confirmation.
                </p>
              </button>
            </div>
          </div>

        </ion-list>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>