<div *ngIf="currentUser.role == 'Care Giver' || currentUser.role == 'Nurse'">

            <div *ngIf="currentUser.verified == false">
              <button ion-item *ngFor="let doc of currentUser.user_docs" (click)="viewDoc(doc)">
        
                <ion-icon name="checkbox" item-left color="secondary"></ion-icon>
                {{doc.doc_type}}
                <p text-wrap>
                  Uploaded: {{doc.created_at | date : 'dd/MM/yyyy' }}
                </p>

                <ion-badge [color]='getDocColorAndText(doc)[0]'>
                  {{getDocColorAndText(doc)[1]}}
                </ion-badge>
                
              </button>


              <button ion-item *ngFor="let doc of pendingDocs(currentUser)" (click)="uploadNow(doc)">
                <ion-icon name="cloud-upload" item-left color="primary"></ion-icon>
                {{doc.doc_type}}
                <p text-wrap>
                  Upload document now.
                </p>   
              </button>

              <button ion-item (click)="uploadNow(null)">
                <ion-icon name="cloud-upload" item-left color="primary"></ion-icon>
                Additional Document
                <p text-wrap>
                  Upload document now.
                </p>
              </button>

              <button ion-item (click)="phone_verification()">
                <ion-icon [name]="currentUser.phone_verified != true ? 'call' : 'checkbox'" item-left item-left 
                  [color]="currentUser.phone_verified != true ? 'primary' : 'secondary'"></ion-icon>
                Verify Mobile Number
                <p text-wrap *ngIf="currentUser.phone_verified != true">
                  Verify your mobile number now.
                </p>
                <p text-wrap *ngIf="currentUser.phone_verified == true">
                  Thank you for verifying your number.
                </p>
              </button>

              <button ion-item (click)="add_banking_details()" *ngIf="false">
                <ion-icon [name]="currentUser.bank_account == null ? 'cash' : 'checkbox'" item-left item-left 
                [color]="currentUser.bank_account == null ? 'primary' : 'secondary'"></ion-icon>
                Banking Information
                <p text-wrap *ngIf="currentUser.bank_account == null">
                  Add your banking details to enable payments to you.
                </p>
                <p text-wrap *ngIf="currentUser.bank_account != null">
                  Thank you for your banking details.
                </p>
              </button>

            </div>

            <div *ngIf="currentUser.verified == true && initData" >
              
              <button ion-item (click)="show_shifts('Pending')">                
                <ion-badge item-right [color]="initData.pending > 0 ? 'danger' : 'success'" >{{initData.pending}}</ion-badge>                
                <ion-icon name="filing" item-left item-left color="primary"></ion-icon>
                Pending Shifts
                <p text-wrap>
                  New shifts pending your confirmation.
                </p>
              </button>
              

              <button ion-item (click)="show_shifts('Accepted')">
                <ion-badge item-right >{{initData.accepted}}</ion-badge>
                <ion-icon name="copy" item-left item-left color="success"></ion-icon>
                Confirmed Shifts
                <p text-wrap>
                  Shifts confirmed by you.
                </p>
              </button>

              <button ion-item (click)="show_agencies()" *ngIf="initData.agencies_pending_accept > 0">
                <ion-badge item-right color="danger" >{{initData.agencies_pending_accept}}</ion-badge>
                <ion-icon name="contacts" item-left item-left color="primary"></ion-icon>
                Accept Agency 
                <p text-wrap>
                  Agency that you need to approve to be a part of.
                </p>
              </button>

              
            </div>
          </div>
