<div *ngIf="currentUser.role == 'Care Giver' || currentUser.role == 'Nurse'">

            <div *ngIf="currentUser.verified == false">
              <button ion-item *ngFor="let doc of currentUser.user_docs" (click)="viewDoc(doc)">
        
                <ion-icon name="checkbox" item-left color="primary"></ion-icon>
                {{doc.doc_type}}
                <p>
                  Uploaded: {{doc.created_at | date : 'dd/MM/yyyy' }}
                </p>

                <ion-badge [color]='getDocColorAndText(doc)[0]'>
                  {{getDocColorAndText(doc)[1]}}
                </ion-badge>
                
              </button>


              <button ion-item *ngFor="let doc of pendingDocs(currentUser)" (click)="uploadNow(doc)">
                <ion-icon name="cloud-upload" item-left color="primary"></ion-icon>
                {{doc.doc_type}}
                <p>
                  Upload document now.
                </p>   
              </button>

              <button ion-item (click)="phone_verification()">
                <ion-icon [name]="currentUser.phone_verified != true ? 'call' : 'checkbox'" item-left item-left color="primary"></ion-icon>
                Verify Mobile Number
                <p>
                  Verify your mobile number now.
                </p>
              </button>

              <button ion-item (click)="add_banking_details()">
                <ion-icon [name]="currentUser.bank_account == null ? 'cash' : 'checkbox'" item-left item-left color="primary"></ion-icon>
                Banking Information
                <p>
                  Add your banking details.
                </p>
              </button>

            </div>

            <div *ngIf="currentUser.verified == true">
              <button ion-item (click)="show_shifts('Accepted')">
                <ion-icon name="list" item-left item-left color="primary"></ion-icon>
                Upcoming Shifts
                <p>
                  Shifts confirmed by you.
                </p>
              </button>

              <button ion-item (click)="show_shifts('Pending')">
                <ion-icon name="warning" item-left item-left color="primary"></ion-icon>
                Pending Shifts
                <p>
                  Shifts pending your confirmation.
                </p>
              </button>
            </div>
          </div>
