<!--
  Generated template for the Hospitalss page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Care Homes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab bottom right *ngIf="current_user.role=='Admin' && !current_user.hospital_id">
    <button ion-fab (click)="newHospital()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <button ion-item *ngFor="let hospital of hospitals" (click)=getHospitalDetails(hospital)>
      <ion-thumbnail item-left>
        <img [src]="hospital.image_url">
      </ion-thumbnail> 
      <p>
        {{hospital.name}}
      </p>
       
      <p>
        {{hospital.address}}
      </p>
       
      <p>
        {{hospital.town}}
      </p>
       
      <p>
        {{hospital.postcode}}
      </p>
      
      
    </button>
  </ion-list>

</ion-content>
