<!--
  Generated template for the HospitalsForm pemail.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pemails and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Care Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text" [(ngModel)]="hospital.name" [class.invalid]="!slideOneForm.controls.name.valid && (slideOneForm.controls.name.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.name.valid  && (slideOneForm.controls.name.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid name.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input formControlName="address" type="text" [(ngModel)]="hospital.address" [class.invalid]="!slideOneForm.controls.address.valid && (slideOneForm.controls.address.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.address.valid  && (slideOneForm.controls.address.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid address.</p>
      </ion-item>


      <ion-item>
        <ion-label floating>Town</ion-label>
        <ion-input formControlName="town" type="text" [(ngModel)]="hospital.town" [class.invalid]="!slideOneForm.controls.town.valid && (slideOneForm.controls.town.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.town.valid  && (slideOneForm.controls.town.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid town.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>Postcode</ion-label>
        <ion-input formControlName="postcode" type="text" [(ngModel)]="hospital.postcode" [class.invalid]="!slideOneForm.controls.postcode.valid && (slideOneForm.controls.postcode.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.postcode.valid  && (slideOneForm.controls.postcode.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid postcode.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>Base Rate</ion-label>
        <ion-input formControlName="base_rate" type="text" [(ngModel)]="hospital.base_rate" [class.invalid]="!slideOneForm.controls.base_rate.valid && (slideOneForm.controls.base_rate.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.base_rate.valid  && (slideOneForm.controls.base_rate.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid base_rate.</p>
      </ion-item>

    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="save()">Save</button>

</ion-content>