// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  warning:    orange,
  twitter: (
    base: #55acee,
    contrast: #ffffff
  )
);

.warning-badge {
    background: orange;
}

.error-text {
    color: red !important;
}

.toast-success {
  > div{
       background-color:#32db64!important;
   }
}

.toast-warning {
    > div{
       background-color:red !important;
   }
}

.center {
    text-align: center;
}

.error-alert {
    background-color: white;
    color: red;
    button{
        color: red !important;
    }
}

.action-sheets {
    .action-sheet-cancel ion-icon,
    .action-sheet-destructive ion-icon {
        color: color($colors, danger);
    }

    ion-icon {
        color: color($colors, primary);
    }
}


 ul {
    padding-left: 0px;

    &.rating li {
        padding: 0px 0px !important;
        background: none;
        color: #ffb400;

        ion-icon {
            font-size: 30px;
        }
    }
  }

.home-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.5em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  
}

.field-hint {
    padding-left: 15px;
    margin-top: 5px;
    font-size: .8em;
    color: grey;
}

.pricing_audit {
    font-size: 0.8 em !important;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 1px;
}

.shift-image {
    border: 1px solid black;
}


.alert-ios .alert-radio-label{ white-space: pre-line !important;}
.alert-md .alert-radio-label{ white-space: pre-line !important;}
.alert-wp .alert-radio-label{ white-space: pre-line !important;}


.qr_code {
    justify-content: center;
	display: flex!important;
 	align-items: center!important;
}
