<!--
  Generated template for the StaffingRequestsForm pemail.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pemails and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p *ngIf="submitAttempt" class="error-text">Please fill out all details accurately.</p>

  <ion-list wrap-text no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item id="care_home_id" *ngIf="current_user.sister_care_homes">
        <ion-label floating>Care Home</ion-label>
        <ion-select text-wrap name="care_home_id" [(ngModel)]="staffingRequest.care_home_id" [class.invalid]="!slideOneForm.controls.care_home_id.valid && (slideOneForm.controls.care_home_id.dirty || submitAttempt)"
          formControlName="care_home_id" class="item-select-custom">
          <ion-option  text-wrap *ngFor="let care_home of current_user.sister_care_homes" value="{{care_home.id}}">
              {{care_home.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p class="field-hint" *ngIf="current_user.sister_care_homes">
        Select the care home you are booking for
      </p>

      <ion-item id="role">
        <ion-label floating>Staff Type</ion-label>
        <ion-select name="role" [(ngModel)]="staffingRequest.role" [class.invalid]="!slideOneForm.controls.role.valid && (slideOneForm.controls.role.dirty || submitAttempt)"
          formControlName="role">
          <ion-option value="Care Giver" checked="true">Care Giver</ion-option>
          <ion-option value="Nurse">Nurse</ion-option>
        </ion-select>
      </ion-item>
      <p class="field-hint">
        Select the type of temp staff you need.
      </p>

      <ion-item>
        <ion-label floating>Start Date</ion-label>
        <ion-datetime (change)="startDateChanged(date)" formControlName="start_date" displayFormat="DD/MM/YYYY  HH:mm" [min]="minStartDate" [max]="maxStartDate" [(ngModel)]="staffingRequest.start_date"
          [class.invalid]="!slideOneForm.controls.start_date.valid && (slideOneForm.controls.start_date.dirty || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.start_date.valid  && (slideOneForm.controls.start_date.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid Start Date.</p>
      </ion-item>
      <p class="field-hint">
        Select the start date & time for the temp staff.
      </p>



      <ion-item>
        <ion-label floating>End Date</ion-label>
        <ion-datetime formControlName="end_date" displayFormat="DD/MM/YYYY  HH:mm" [min]="minEndDate" [max]="maxEndDate" [(ngModel)]="staffingRequest.end_date"
          [class.invalid]="!slideOneForm.controls.end_date.valid && (slideOneForm.controls.end_date.dirty || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.end_date.valid  && (slideOneForm.controls.end_date.dirty || submitAttempt)">
        <p class="error-text">Should be at least 4 hours after Start.</p>
      </ion-item>
      <p class="field-hint">
        Select the end date & time for the temp staff.
      </p>

      <ion-item>
        <ion-label floating>Start Code</ion-label>
        <ion-input name="start_code" formControlName="start_code" type="number" [(ngModel)]="staffingRequest.start_code" [class.invalid]="!slideOneForm.controls.start_code.valid && (slideOneForm.controls.start_code.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.start_code.valid  && (slideOneForm.controls.start_code.dirty || submitAttempt)">
        <p>Please enter a valid Start Code.</p>
      </ion-item>

      <p class="field-hint">
        Select the start code your temp needs to enter upon arrival.
      </p>



      <ion-item>
        <ion-label floating>End Code</ion-label>
        <ion-input name="end_code" formControlName="end_code" type="number" [(ngModel)]="staffingRequest.end_code" [class.invalid]="!slideOneForm.controls.end_code.valid && (slideOneForm.controls.end_code.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.end_code.valid  && (slideOneForm.controls.end_code.dirty || submitAttempt)">
        <p>Please enter a valid End Code.</p>
      </ion-item>

      <p class="field-hint">
        Select the end code your temp needs to enter upon completion of the shift.
      </p>

    </form>

  </ion-list>

  <ion-row>
    <ion-col>
      <button ion-button full color="primary" (click)="save()">Save</button>
    </ion-col>
  </ion-row>
</ion-content>