<!--
  Generated template for the StaffingRequestsForm pemail.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pemails and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p *ngIf="submitAttempt" class="error-text">Please fill out all details accurately.</p>

  <ion-list no-lines>

    <form [formGroup]="slideOneForm">

      <ion-item id="role">
        <ion-label floating>Role</ion-label>
        <ion-select name="role" [(ngModel)]="staffingRequest.role" [class.invalid]="!slideOneForm.controls.role.valid && (slideOneForm.controls.role.dirty || submitAttempt)"
          formControlName="role">
          <ion-option value="Care Giver" checked="true">Care Giver</ion-option>
          <ion-option value="Nurse" >Nurse</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item id="speciality">
        <ion-label floating>Speciality</ion-label>
        <ion-select name="speciality" [(ngModel)]="staffingRequest.speciality" [class.invalid]="!slideOneForm.controls.speciality.valid && (slideOneForm.controls.speciality.dirty || submitAttempt)"
          formControlName="speciality">
          <ion-option value="Generalist" checked="true">Generalist</ion-option>
          <ion-option value="Geriatric Care" >Geriatric Care</ion-option>
          <ion-option value="Pediatric Care">Pediatric Care</ion-option>
          <ion-option value="Mental Health">Mental Health</ion-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label floating>Start Date</ion-label>
        <ion-datetime formControlName="start_date" displayFormat="MMM DD, YYYY HH:mm" 
        [min]="todayStr"
        [(ngModel)]="staffingRequest.start_date" [class.invalid]="!slideOneForm.controls.start_date.valid && (slideOneForm.controls.start_date.dirty || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.start_date.valid  && (slideOneForm.controls.start_date.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid Start Date.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>End Date</ion-label>
        <ion-datetime formControlName="end_date" displayFormat="MMM DD, YYYY HH:mm" 
        [min]="todayStr"
        [(ngModel)]="staffingRequest.end_date" [class.invalid]="!slideOneForm.controls.end_date.valid && (slideOneForm.controls.end_date.dirty || submitAttempt)"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.end_date.valid  && (slideOneForm.controls.end_date.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid End Date.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>Rate Per Hour</ion-label>
        <ion-input name="rate_per_hour" formControlName="rate_per_hour" type="text" [(ngModel)]="staffingRequest.rate_per_hour" [class.invalid]="!slideOneForm.controls.rate_per_hour.valid && (slideOneForm.controls.rate_per_hour.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.rate_per_hour.valid  && (slideOneForm.controls.rate_per_hour.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid Rate Per Hour.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>Auto Deny In</ion-label>
        <ion-input name="auto_deny_in" formControlName="auto_deny_in" type="text" [(ngModel)]="staffingRequest.auto_deny_in" [class.invalid]="!slideOneForm.controls.auto_deny_in.valid && (slideOneForm.controls.auto_deny_in.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.auto_deny_in.valid  && (slideOneForm.controls.auto_deny_in.dirty || submitAttempt)">
        <p class="error-text">Please enter a valid Auto Deny in hours.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Start Code</ion-label>
        <ion-input name="start_code" formControlName="start_code" type="text" [(ngModel)]="staffingRequest.start_code" [class.invalid]="!slideOneForm.controls.start_code.valid && (slideOneForm.controls.start_code.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.start_code.valid  && (slideOneForm.controls.start_code.dirty || submitAttempt)">
        <p>Please enter a valid Start Code.</p>
      </ion-item>



      <ion-item>
        <ion-label floating>End Code</ion-label>
        <ion-input name="end_code" formControlName="end_code" type="text" [(ngModel)]="staffingRequest.end_code" [class.invalid]="!slideOneForm.controls.end_code.valid && (slideOneForm.controls.end_code.dirty || submitAttempt)"></ion-input>
      </ion-item>

      <ion-item *ngIf="!slideOneForm.controls.end_code.valid  && (slideOneForm.controls.end_code.dirty || submitAttempt)">
        <p>Please enter a valid End Code.</p>
      </ion-item>

    </form>

  </ion-list>

  <button ion-button full color="primary" (click)="save()">Save</button>

</ion-content>