<ion-header>

  <ion-navbar color="primary">
    <ion-title>Staffing Requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab id="new_staffing_request_btn" bottom right *ngIf="current_user.role!='Care Giver' && current_user.role!='Nurse' ">
    <button ion-fab (click)="newRequest()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>


  <ion-list>
    <button ion-item id="StaffingRequest-{{staffingRequest.id}}-item" 
      *ngFor="let staffingRequest of staffingRequests" (click)=getStaffingRequestDetails(staffingRequest)>
       
      <p>
        Care Home: {{staffingRequest.hospital.name}}
      </p>

      <p>
        Start: {{staffingRequest.start_date | date: 'dd/MM/yyyy H:mm'}}
      </p>
       
      <p>
        End: {{staffingRequest.end_date | date: 'dd/MM/yyyy H:mm'}}
      </p>
      
      <ion-badge>{{staffingRequest.rate_per_hour | currency}}</ion-badge> 
      <ion-badge color="secondary" *ngIf="staffingRequest.request_status == 'Open'">
        Open
      </ion-badge>
      <ion-badge color="danger" *ngIf="staffingRequest.request_status == 'Closed'">
        Closed
      </ion-badge>


    </button>
  </ion-list>

</ion-content>